body,html{
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  background-image: url("images/bg3.3.3.jpg");
  height:100%;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}
.navlogo{
  border-radius: 10px;
  height:35px;
  width:35px;

}
section{
  width: 40%;
  margin: 2em auto;
}
.headings{
  font-family: 'Righteous', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  margin: 25px;
}
.input-group{
	margin: 1em auto;
	max-width: 500px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
#search{
   /* margin:2em; */
   width: 6rem
  
}
.switch input {
  display:none;
}
.body1{
  text-align: center;

}
.navbar,.navbar-brand{
  background-color: #4e4d4a !important;
  color:whitesmoke !important;
}
.temp{
	font-size: 4em;
}
.description{
	font-size: 2em;
}
button
{
  background-color:white !important;
  opacity: 0.3;
}
.city{
	letter-spacing: 4px;
	text-transform: uppercase;
}
#icon{
	font-size: 3em;
}
.info{
  display: none;
  padding: 2em;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 2em; 
}
.bg-img{
  height: 100px;
  width: 100px;
}
.temp-range
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.fab {
    float: right;
    font-size: 40px;
    color:gainsboro;
    /* margin-right: 20px;
    margin-top: 46px;
    margin-bottom: 40px; */
    transition: transform .2s;
    background-color: black !important;
    border-radius: 90px;	
    padding: 0px 2px 2px 2px;
}


.fab:hover {
    transform: scale(1.5);
}
